<%- include('header') %>

<h2>Result:</h2>

<h3>Your deck should have <%= wResults %> <%= uResults %> <%= bResults %> <%= rResults %> <%= gResults %>  lands that tap for mana</h3>

<%- include('footer')  %>